@using Du_Toan_Xay_Dung.Handlers
<!DOCTYPE html>
<html>
<head>
    <title> - Dự toán xây dựng</title>

    <meta charset="UTF-8">
    <meta name="description" content="Dự toán xây dựng">
    <meta name="keywords" content="Dự toán, estimate, Định mức, Đơn giá">
    <meta name="author" content="Huynh Huu Duy, Thach Thi Kieu Linh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="~/Images/Logo/homepage_construction_estimate.png">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="~/Content/Style.css">
        <link rel="stylesheet" href="~/Content/AdminLTE.css">
        <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Bootstrap/bootstrap-select.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <!--bootstrap-->
    @Scripts.Render("~/bundles/bootstrap")

    <!--angular-->
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-ui-router.min.js"></script>
    <script src="~/Scripts/Bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!--layout-->
    <script src="~/Scripts/DuToan/Layout_Ctrl.js"></script>

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="bvkiw5hqpxclgwz"></script>
    <!--upload_file
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>
    -->


    <style>
        .body-wrapper {
            background-color: #ffffff;
            width: 100%;
        }

        .main-footer {
            margin-left: 0px !important;
            position: absolute;
            /* left: 0; */
            /* bottom: 0; */
            height: 100px;
            width: 100%;
            overflow: hidden;
        }
    </style>

</head>

@* set background-color: currentColor*@

<body id="body">

    <div class="loader" id="loader" style="position: fixed; top: 200px;left: 600px;z-index: 99;opacity: 1;"></div>

    @* set css opacity: 0.3, pointer-events: none; *@
    <div id="wrapper">
        <!--header-->
        <header>
            <div id="logo" class="container">
                <h1><a href="#">Dự Toán Xây Dựng</a></h1>
                @*<p>Vươn lên tầm cao mới</p>*@
            </div>
            <div id="menu-wrapper" style="margin-bottom:0px">
                <div id="main_menu" class="container main_menu">
                    <ul>
                        <li id="li_home_index"><a href="/Home/Index">Trang Chủ</a></li>
                        @if (SessionHandler.User != null)
                        {
                            <li id="li_congtrinh"><a href="/CongTrinh/Index">Công Trình</a></li>
                            <li><a href="/WorkTemporary/Index">Tạm Tính</a></li>
                            <li><a href="/UnitPrice/Index">Đơn Giá</a></li>
                        }
                        <li><a href="/News/Index">Tin Tức</a></li>
                        <li><a href="/ContactUs/Index">Liên Hệ</a></li>
                        @if (SessionHandler.User == null)
                        {
                            <li><a href="/Account/Login">Đăng Nhập</a></li>
                        }
                        else
                        {
                            <li><a href="/Account/Logout">Đăng Xuất</a></li>
                        }

                    </ul>
                </div>
            </div>
        </header>

        <!--body-->
        <div class="body-wrapper">
            <div class="container body-content" id="body_content">
                @RenderBody()
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <!--footer-->
        <footer class="main-footer">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 1.0
                    </div>
                    <strong>SaiGon Unisersity</strong>
                    <span>An Dương Vương, Q.5, TP. Hồ Chí Minh</span>
                    <p>Thiết kế và phát triển bởi Huỳnh Hữu Duy, Thạch Thị Kiều Linh</p>
                    <strong>Copyright © 2016-2017, Template design by <a href="http://templated.co">http://templated.co</a> .</strong> All rights
                    reserved.
                </div>
                <div class="col-sm-1"></div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    @RenderSection("CSS", required: false)
</body>
</html>
